.divider {
  border: none;
  background: var(--border);
}

.divider--horizontal {
  width: 100%;
  height: 1px;
  
  &.divider--spacing-sm {
    margin: var(--space-3) 0;
  }
  
  &.divider--spacing-md {
    margin: var(--space-5) 0;
  }
  
  &.divider--spacing-lg {
    margin: var(--space-7) 0;
  }
}

.divider--vertical {
  width: 1px;
  height: 100%;
  display: inline-block;
  
  &.divider--spacing-sm {
    margin: 0 var(--space-3);
  }
  
  &.divider--spacing-md {
    margin: 0 var(--space-5);
  }
  
  &.divider--spacing-lg {
    margin: 0 var(--space-7);
  }
}