.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: var(--space-5);
  
  @media (max-width: 768px) {
    padding-inline: var(--space-4);
  }
}

.container--sm {
  max-width: 768px;
}

.container--md {
  max-width: 1200px;
}

.container--lg {
  max-width: 1400px;
}

.container--full {
  max-width: 100%;
}
